body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 10px;
}

.navbar, .hero {
    background-color: #1f2937;
    color: #f9faf8;
}

.navbar  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 20px;
    background-color: #1f2937;
    font-size: 1rem;
}

#logo {
    font-size: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    z-index: 1;
}

.hero img {
    flex-shrink: 0;
    width: 300px;
    height: 200px;
    margin-right: 30px;
    flex: 0.3;
    flex-grow: 0;
}

.hero-text {
    padding: 40px;
    font-size: 2rem;
    flex: 0.7;
}

.subtext-hero {
    font-size: 0.375em;
    color: #e5e7eb;
}

.btn-hero {
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 30px;
}

h2 {
    font-size: 2.5rem;
    padding: 2rem;
    text-transform: capitalize;
}

.card-section {
    flex-direction: column;
    text-align: center;
    padding: 50px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    flex: 1 0 20%;
    width: 20%;
    font-size: 1.5em;
}

.card-img {
width: 150px;
height: 150px;
border: 3px solid #3882f6;
border-radius: 10px;
}

.mot-quote {
    background-color: #e5e7eb;
    text-align: center;
    padding: 50px;
}

.quote {
    width: 50%;
    margin-left: 25%;
    font-size: 3em;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0;
}

.quote-auth {
    text-align: end;
    margin-right: 25%;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
}

.signup-sec {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    margin: 25%;
    justify-content: space-between;
    gap: 20px;
    height: 100px;
    margin: 90px auto;
    padding: 20px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    font-size: 15px;
}

.signup-text {
    flex: 0.8;
}

.signup-sec .signup-title{
    font-weight: bolder;
    margin-bottom: 0;
}
.signup-btn {
    background-color: #3882f6;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    color: white;
    width: 90px;
    height: 30px;   
}

button:hover{
    background-color:#f9faf8;
    color: black;
    transition: 0.5s;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    color: #f9faf8;
    font-style: italic;
    position: sticky;
    bottom: 0;    
}
